.appLogo {
  
}

.appHeader {
  background-color: #006165;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: space-between;
  padding: 32px 38px;
  height: 50px;
  align-items: center;
}
